registry=https://registry.npmjs.com/
@mlg:registry=https://mediciventures.jfrog.io/mediciventures/api/npm/mlg-npm/
//mediciventures.jfrog.io/mediciventures/api/npm/mlg-npm/:_password=cmVhZG9ubHk6YWRlcXVhdGVsYXNlcmZseXRyYXA=
//mediciventures.jfrog.io/mediciventures/api/npm/mlg-npm/:_auth=cmVhZG9ubHk6YWRlcXVhdGVsYXNlcmZseXRyYXA=
//mediciventures.jfrog.io/mediciventures/api/npm/mlg-npm/:email=readonly@mediciventures.com
//mediciventures.jfrog.io/mediciventures/api/npm/mlg-npm/:always-auth=true